{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}
{% import "bootstrap_wtf.html" as b_wtf %}

{% block title %}Login TOTP{% endblock %}

{% block content %}
<div class="auths">
	<h1>Login with TOTP code (2FA)</h1>

	<form class="form-horizontal" method="post">
		{{ form.csrf_token }}
		{{ b_wtf.bootstrap_field(form.code, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
	</form>
</div>
{% endblock %}
