{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% raw %}
<script id="auth.pagepart-user_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> auth.user_edit_route user_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> auth.user_delete_route user_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>

<script id="auth.pagepart-user_apikey_controls.hbs" type="text/x-handlebars-template">
	{{apikey}} <a class="btn btn-outline-secondary btn-sm abutton_userapikey_by_url" data-url="{{> auth.user_apikey_route user_id=user_id action=action}}">{{capitalize action}}</a>
</script>

<script id="auth.pagepart-profile_webauthn_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> auth.profile_webauthn_edit_route webauthn_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> auth.profile_webauthn_delete_route webauthn_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>
{% endraw %}
<script type="text/javascript">
	/* hbs partials to pass flask endpoint uris to hbs templates */
	Handlebars.registerPartial('auth.user_edit_route', Flask.url_for('auth.user_edit_route', {'user_id': '{%raw%}{{user_id}}{%endraw%}'}));
	Handlebars.registerPartial('auth.user_delete_route', Flask.url_for('auth.user_delete_route', {'user_id': '{%raw%}{{user_id}}{%endraw%}'}));
	Handlebars.registerPartial('auth.user_apikey_route', Flask.url_for('auth.user_apikey_route', {'user_id': '{%raw%}{{user_id}}{%endraw%}', 'action': '{%raw%}{{action}}{%endraw%}'}));

	Handlebars.registerPartial('auth.profile_webauthn_edit_route', Flask.url_for('auth.profile_webauthn_edit_route', {'webauthn_id': '{%raw%}{{webauthn_id}}{%endraw%}'}));
	Handlebars.registerPartial('auth.profile_webauthn_delete_route', Flask.url_for('auth.profile_webauthn_delete_route', {'webauthn_id': '{%raw%}{{webauthn_id}}{%endraw%}'}));

	Handlebars.registerHelper('capitalize', function (data) { return data.charAt(0).toUpperCase() + data.slice(1).toLowerCase(); });

	/* hbs templates */
	var auth_pagepart_user_controls = Handlebars.compile(document.getElementById('auth.pagepart-user_controls.hbs').innerHTML);
	var auth_pagepart_user_apikey_controls = Handlebars.compile(document.getElementById('auth.pagepart-user_apikey_controls.hbs').innerHTML);

	var auth_pagepart_profile_webauthn_controls = Handlebars.compile(document.getElementById('auth.pagepart-profile_webauthn_controls.hbs').innerHTML);
</script>
