[coverage:run]
plugins =
    coverage_conditional_plugin

omit =
    sner/server/materialized_views.py

[coverage:coverage_conditional_plugin]
rules =
    "'PYTEST_SLOW' not in os_environ": cover-ignore-if-not-pytestslow
