[FORMAT]
max-line-length=150
indent-string=\t
indent-after-paren=1

[BASIC]
good-names=e

[TYPECHECK]
ignored-classes=SQLAlchemy, sqlalchemy.orm.scoping.scoped_session

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=6
