coverage
fido2
file-magic
flake8
flask
flask-login
flask-sqlalchemy
flask-wtf
jsonschema
lark-parser
lxml
git+https://github.com/bodik/nessus-report-parser.git@latest_cummulative#egg=nessus_report_parser
psycopg2
pylint
pytest<4.0
pytest-flask
pytest-selenium
python-libnmap
pyyaml
requests
git+https://github.com/bodik/soft-webauthn.git#egg=soft_webauthn
sqlalchemy-datatables
git+https://github.com/bodik/sqlalchemy-filters@latest_cummulative#egg=sqlalchemy_filters
webtest
