celery[redis]
coverage
defusedxml
fido2
file-magic
flake8
flask
flask-celeryext
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
jsonschema
lark-parser
lxml
psycopg2
pylint
pytenable
pytest
pytest-factoryboy
pytest-flask
pytest-httpserver
pytest-selenium
python-libnmap
pytimeparse
pyyaml
requests
schema
soft-webauthn
sqlalchemy-datatables
sqlalchemy-filters
webtest
