coverage
defusedxml
fido2<0.8
file-magic
flake8
flask
flask-login
flask-sqlalchemy
flask-wtf
jsonschema
lark-parser
lxml
psycopg2
pylint
pytenable
pytest
pytest-flask
pytest-httpserver
pytest-selenium
python-libnmap
pyyaml
requests
soft-webauthn
sqlalchemy-datatables
git+https://github.com/bodik/sqlalchemy-filters@latest_cummulative#egg=sqlalchemy_filters
webtest
