#server:
#  secret_key: 'changeit'
#  application_root: '/sner'
#  sqlalchemy_database_uri: 'postgresql://user:password@localhost/sner'
#  sner_var: '/var/lib/sner'
#  sner_session_idletime: 3600
#  sner_tags_host:
#    - reviewed
#  sner_tags_vuln:
#    - info
#    - report
#    - todo
#    - falsepositive
#  sner_tags_annotate:
#    - sslhell
#  sner_trim_report_cells: 65000
#  sner_vulnsearch:
#    cvesearch: 'https://u:p@hostname:15443'
#    esd: 'https://u:p@hostname:443/esd'
#  sner_heatmap_hot_level: 10
#
#  oidc_name: 'OIDC_DEFAULT'
#  oidc_default_metadata: 'https://URL/.well-known/openid-configuration'
#  oidc_default_client_id: 'dummy'
#  oidc_default_client_secret: 'dummy'
#  oidc_default_redirect_uri: 'https://external_hostname/path/auth/login_oidc_callback'
#
#
#agent:
#  server: 'http://localhost:18000'
#  apikey: 'generateit'
#  queue: 'a_queue_name'
#  caps:
#    - capability1
#    - capability2
#  backoff_time: 5.0
#  net_timeout: 300
#  oneshot: False
#
#planner:
#  common:
#    home_netranges_ipv4: &home_netranges_ipv4 []
#    home_netranges_ipv6: &home_netranges_ipv6 ['::1/128']
#
#  stages:
#    # queue processors
#    stage_storageimport:
#      _class: StorageImport
#
#    stage_standalonequeues:
#      _class: StorageLoader
#      queues:
#        - 'sner nmap script'
#
#    stage_servicescan:
#      _class: StorageLoader
#      queues:
#        - 'sner servicescan nmap version'
#        - 'sner servicescan jarm'
#
#    stage_servicedisco:
#      _class: ServiceDisco
#      queues:
#        - 'sner servicedisco nmap'
#
#    stage_sixenumdisco:
#      _class: SixDisco
#      queues:
#        - 'sner six_enum_discover'
#
#    stage_sixdnsdisco:
#      _class: SixDisco
#      queues:
#        - 'sner six_dns_discover'
#      filter_nets: *home_netranges_ipv6
#
#    # schedules
#    stage_storagecleanup:
#      _class: StorageCleanup
#
#    stage_netlistenum:
#      _class: NetlistEnum
#      schedule: 120days
#      netlist: *home_netranges_ipv4
#
#    stage_storagesixenum:
#      _class: StorageSixEnum
#      schedule: 90days
#
#    stage_storagerescan:
#      _class: StorageRescan
#      schedule: 1hour
#      service_interval: 20days
#      host_interval: 60days
