<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>sner4 - {% block title %}{% endblock %}</title>

	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr/toastr.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/dataTables.bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/dataTables.bootstrap.min.js') }}"></script>

	<style>
		/* menu image */
		.navbar-brand { padding: 0px; }
		.navbar-brand img { height: 100%; padding: 5px; width: auto; }

		/* required items on forms */
		label.control-label.required:after { content:"*"; color:red; }
	</style>
	{% block style %}{% endblock %}
	{% block script %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="container">
        	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo.png') }}"></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('profile.list') }}">Profiles</a></li>
				<li><a href="{{ url_for('task.list') }}">Tasks</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
	</nav>

	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>

	<script type="text/javascript">
		toastr.options = {
			"positionClass": "toast-top-right",
		};
		{% for category, message in get_flashed_messages(with_categories=true) %}
		toastr['{{ category }}']('{{ message }}');
		{% endfor %}
	</script>

	<script>
		var datatables_options = {
			"columnDefs": [ {
				"targets": "no-sort",
				"orderable": false,
			} ],
			"order": [[ 0, "asc" ]],
			"paging": false,
			"info" : false
		};
		if (typeof datatables_custom !== 'undefined') {
			datatables_options = $.extend({}, datatables_options, datatables_custom);
		}
		$(document).ready(function(){
    			$('[data-toggle="popover"]').popover();
			$('.datatable').DataTable(datatables_options);
		});
	</script>
</body>
</html>
