{% extends "base.html" %}

{% block content %}
<div class="jobs">
	<h1>Jobs list <a class="btn btn-xs btn-default" href="{{ url_for('scheduler.job_assign_route') }}"> Assign</a></h1>

	<table id="jobs_table" class="datatable table table-hover table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>queue</th>
			<th>assignment</th>
			<th>retval</th>
			<th>output</th>
			<th>time_start</th>
			<th>time_end</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for job in jobs %}
		<tr>
			<td>{{ job.id }}</td>
			<td>{{ job.queue }}</td>
			<td>{{ job.assignment }}</td>
			<td>{{ job.retval }}</td>
			<td>{{ job.output }}</td>
			<td>{{ job.time_start|datetime }}</td>
			<td>{{ job.time_end|datetime }}</td>
			<td>
				{% with form=generic_button_form, form_url=url_for('scheduler.job_delete_route', job_id=job.id) %}{% include 'button_delete.html' %}{% endwith %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
