{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Jobs / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_job_list_table_options = {
		'ajax': {'url': "{{ url_for('scheduler.job_list_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			dt_column('id'),
			dt_column('queue_id', {'visible': false}),
			dt_column('queue_name'),
			dt_column('assignment', {'render': $.fn.dataTable.render.ellipsis(100, false, true)}),
			dt_column('retval'),
			dt_column('time_start'),
			dt_column('time_end'),
			dt_column('time_taken'),
			dt_column_buttons(scheduler_pagepart_job_controls)
		],
		'order': [[6, 'desc'], [7, 'desc']]
	};
	$(document).ready(function() {
		var dt_job_list_table = $('#job_list_table').DataTable($.extend({}, dt_ajax_options, dt_job_list_table_options));
	});
</script>
{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Scheduler', 'Jobs', 'List']) }}

<div id="job_list_table_toolbar" class="dt_toolbar">
	<div class="btn-group" role="group">
		<a class="btn btn-outline-secondary disabled" href="#"><i class="fas fa-filter"></i></a>
		{% if 'filter' in request.args %}<a class="btn btn-info" href="{{ url_for('scheduler.job_list_route') }}">unfilter</a>{% endif %}
		<a class="btn btn-outline-secondary" href="{{ url_for('scheduler.job_list_route', filter='Job.retval is_null ""') }}">Running</a>
	</div>
</div>

<table id="job_list_table" class="table table-hover table-sm"></table>
{% endblock %}
