{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}
{% import "bootstrap_wtf.html" as b_wtf %}

{% block content %}
<div class="notes">
	<h1>Note add/edit</h1>

	<form class="form-horizontal" method="post">
		{{ form.csrf_token }}
		<div class="form-group">
			<label class="col-sm-2 control-label">Host</label>
			<div class="col-sm-10"><p class="form-control-static">{{ host }}</p></div>
		</div>
		{{ b_wtf.bootstrap_field(form.host_id, horizontal=True) }}
		<div class="form-group">
			<label class="col-sm-2 control-label">Service</label>
			<div class="col-sm-10"><p class="form-control-static">{{ service }}</p></div>
		</div>
		{{ b_wtf.bootstrap_field(form.service_id, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.xtype, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.data, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.comment, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
	</form>
</div>
{% endblock %}
