{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
	var dt_note_list_table_options = {
		'ajax': {'url': "{{ url_for('storage.note_list_json_route') }}", 'method': 'POST'},
		'columns': [
			dt_column('id'),
			dt_column('host_id', {'visible': false}),
			dt_column('host_address', {'render': function (data, type, row, meta) { return storage_pagepart_host_link(row); }}),
			dt_column('host_hostname'),
			dt_column('service'),
			dt_column('xtype'),
			dt_column('data', {'className': 'forcewrap'}),
			dt_column('comment'),
			dt_column_buttons(storage_pagepart_note_controls)
		]
	};
	$(document).ready(function() {
		var dt_note_list_table = $('#note_list_table').DataTable($.extend({}, dt_ajax_options, dt_note_list_table_options));
	});
</script>
{% endblock %}

{% block content %}
<div class="notes">
	<h1>Notes list</h1>

	<table id="note_list_table" class="table table-hover table-responsive table-condensed" width="100%"></table>
</div>
{% endblock %}
