{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Notes / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_note_list_table_options = {
		'ajax': {'url': Flask.url_for('storage.note_list_json_route') + window.location.search, 'method': 'POST'},
		'columns': [
			Sner.dt.column_select({'visible': JSON.parse(sessionStorage.getItem('dt_toolboxes_visible'))}),
			Sner.dt.column('id', {'visible': false}),
			Sner.dt.column('host_id', {'visible': false}),
			Sner.dt.column('host_address', {'render': function(data, type, row, meta) { return Sner.storage.hbs.host_link(row); }}),
			Sner.dt.column('host_hostname'),
			Sner.dt.column('service_proto', {'visible': false}),
			Sner.dt.column('service_port', {'visible': false}),
			Sner.dt.column('service', {
				'className': 'service_endpoint_dropdown',
				'render': function(data, type, row, meta) {
					return Sner.storage.hbs.service_endpoint_dropdown({...row, 'value': row['service']});
				}
			}),
			Sner.dt.column('via_target', {'visible': JSON.parse(sessionStorage.getItem('dt_viatarget_column_visible'))}),
			Sner.dt.column('xtype'),
			Sner.dt.column('data', {
				'className': 'forcewrap',
				'render': $.fn.dataTable.render.ellipsis({{ config['SNER_TRIM_NOTE_LIST_DATA'] }}, false, true)
			}),
			Sner.dt.column('tags', {'className': 'abutton_annotate_dt', 'render': function(data, type, row, meta) {return Sner.storage.hbs.tag_labels(row);}}),
			Sner.dt.column('comment', {'className': 'abutton_annotate_dt forcewrap', 'title': 'cmnt'}),
			Sner.dt.column_buttons(Sner.storage.hbs.note_controls)
		],
		'select': JSON.parse(sessionStorage.getItem('dt_toolboxes_visible')) ? {'style': 'multi', 'selector': 'td:first-child'} : false,
		'drawCallback': function (settings) {
			Sner.dt.ajax_options['drawCallback'].call(this, settings); // call parent
			this.find('td.abutton_annotate_dt').on('dblclick', {'dt': this.api(), 'route_name': 'storage.note_annotate_route'}, Sner.storage.action_annotate_dt);
		}
	};
	$(document).ready(function() {
		var dt_note_list_table = Sner.dt.init_datatable('#note_list_table', dt_note_list_table_options);
		$('#note_list_table_toolbar .abutton_selectall').on('click', {'dt': dt_note_list_table}, Sner.dt.selectall);
		$('#note_list_table_toolbar .abutton_selectnone').on('click', {'dt': dt_note_list_table}, Sner.dt.selectnone);
		$('#note_list_table_toolbar .abutton_tag_multiid').on('click', {'dt': dt_note_list_table, 'route_name': 'storage.note_tag_multiid_route', 'action': 'set'}, Sner.storage.action_tag_multiid);
		$('#note_list_table_toolbar .abutton_untag_multiid').on('click', {'dt': dt_note_list_table, 'route_name': 'storage.note_tag_multiid_route', 'action': 'unset'}, Sner.storage.action_tag_multiid);
		$('#note_list_table_toolbar .abutton_delete_multiid').on('click', {'dt': dt_note_list_table, 'route_name': 'storage.note_delete_multiid_route'}, Sner.storage.action_delete_multiid);
	});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['Notes']) %}
	<div class="breadcrumb-buttons pl-2">
		<a class="btn btn-outline-secondary" data-toggle="collapse" href="#filter_form"><i class="fas fa-filter"></i></a>
	</div>
{% endcall %}

<div id="note_list_table_toolbar" class="dt_toolbar">
	<div class="dt_toolbar_toolbox" id="note_list_table_toolbox">
		<div class="btn-group">
			<a class="btn btn-outline-secondary disabled"><i class="fas fa-check-square"></i></a>
			<a class="btn btn-outline-secondary abutton_selectall" href="#" title="select all">All</a>
			<a class="btn btn-outline-secondary abutton_selectnone" href="#" title="unselect all">None</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-outline-secondary disabled"><i class="fas fa-tag"></i></a>
			{{ cm.multiid_tagging_abuttons(config['SNER_TAGS_NOTE'], 'btn btn-outline-secondary abutton_tag_multiid') }}
		</div>
		<div class="btn-group">
			<div class="btn-group">
				<a class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" href="#" title="remove tag dropdown"><i class="fas fa-remove-format"></i></a>
				{{ cm.multiid_tagging_abuttons_dropdown(config['SNER_TAGS_NOTE'], 'striked abutton_untag_multiid') }}
			</div>
			<a class="btn btn-outline-secondary abutton_delete_multiid" href="#"><i class="fas fa-trash text-danger"></i></a>
		</div>
		<div class="btn-group">
			<a class="btn btn-outline-secondary disabled"><i class="fas fa-filter"></i></a>
			<a class="btn btn-outline-secondary" href="{{ url_for('storage.note_list_route', filter='Note.tags not_any "reviewed"') }}">Exclude reviewed</a>
			<a class="btn btn-outline-secondary" href="{{ url_for('storage.note_list_route', filter='Note.tags any "todo"') }}">Only Todo</a>
			<a class="btn btn-outline-secondary" href="{{ url_for('storage.note_list_route', filter='Note.xtype not_ilike "nessus%"') }}">Not nessus</a>
		</div>
	</div>
	{{ cm.filter_form() }}
</div>

<table id="note_list_table" class="table table-hover table-sm" width="100%"></table>
{% endblock %}
