{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Notes / View / {{ note.host.address }} {{ note.host.hostname }} / {{ note.xtype }}{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Storage', 'Notes', 'View', '%s %s' % (note.host.address, note.host.hostname), note.xtype]) }}

<div class="text-right">
	<a class="btn btn-outline-primary" href="{{ url_for('storage.note_edit_route', note_id=note.id) }}"><i class="fas fa-edit"></i></a>
	{% with form=button_form, form_url=url_for('storage.note_delete_route', note_id=note.id) %}{% include 'button-delete.html' %}{% endwith %}
</div>

<dl class="row">
	<dt class="col-1">host address</dt>
	<dd class="col-11 render_hbs" data-hbs="storage_pagepart_host_link" data-hbs_context='{{ {'host_id': note.host.id, 'host_address': note.host.address}|tojson }}'>{{ note.host.address }}</dd>

	<dt class="col-1">host hostname</dt>
	<dd class="col-11">{{ note.host.hostname }}</dd>

	<dt class="col-1">service</dt>
	<dd class="col-11">{{ note.service }}</dd>

	<dt class="col-1">xtype</dt>
	<dd class="col-11">{{ note.xtype }}</dd>

	<dt class="col-1">comment</dt>
	<dd class="col-11">{{ note.comment }}</dd>
</dl>

<div>
{% if note.xtype and (note.xtype.startswith('nessus.') or note.xtype.startswith('nmap.'))  %}
	<pre>{{ note.data|json_indent }}</pre>
{% else %}
	{{ note.data }}
{% endif %}
</div>
{% endblock %}
