[Unit]
Description=Sner planner (celery worker+beats)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/sner
ExecStart=/opt/sner/venv/bin/python /opt/sner/bin/server planner run

[Install]
WantedBy=multi-user.target
