[Unit]
Description=Sner web server
After=network.target

[Service]
Environment="SCRIPT_NAME=/sner"
ExecStart=/opt/sner/venv/bin/gunicorn --bind "127.0.0.1:18001" --timeout 120 "sner.server.app:create_app()"
WorkingDirectory=/opt/sner
User=www-data
Group=www-data
SyslogIdentifier=sner-server

[Install]
WantedBy=multi-user.target
