[Unit]
Description=Sner web ui (gunicorn hosted flask app)
After=network.target

[Service]
Environment="SCRIPT_NAME=/sner"
ExecStart=/opt/sner/venv/bin/gunicorn --bind "127.0.0.1:18001" "sner.server.app:create_app()"
WorkingDirectory=/opt/sner
User=www-data
Group=www-data
SyslogIdentifier=sner-web

[Install]
WantedBy=multi-user.target
