[Unit]
Description=Sner planner (celery worker+beats)
After=network.target

[Service]
ExecStart=/opt/sner/venv/bin/python /opt/sner/bin/server planner run
WorkingDirectory=/opt/sner
User=www-data
Group=www-data
SyslogIdentifier=sner-planner

[Install]
WantedBy=multi-user.target
