[Unit]
Description=Sner agent
After=network.target

[Service]
ExecStart=/opt/sner/venv/bin/python /opt/sner/bin/agent
WorkingDirectory=/tmp
Type=simple
Restart=no
SyslogIdentifier=sner-agent

[Install]
WantedBy=multi-user.target
