{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Users / Add or edit{% endblock %}

{% block style %}
<style>
/* default ul/li bootstrap4 style does not play well with wtforms ListWidget */
ul.multiple_checkbox_field {
	padding-left: 0;
	padding-top: .5rem !important;
	margin-bottom: 0;
}
ul.multiple_checkbox_field li { list-style-type: none; }
</style>
{% endblock %}

{% block content %}
{% call cm.heading(['Users', 'Add or edit']) %}{% endcall %}

<form method="post">
	{{ form.csrf_token }}
	{{ bwtf.bootstrap_field(form.username, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.password, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.email, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.roles, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.active, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
