{% extends "base.html" %}
{% import "bootstrap_wtf.html" as b_wtf %}

{% block style %}
<style>
#roles li { list-style-type: none; }
#roles li label { font-weight: initial; }
</style>
{% endblock %}

{% block content %}
<div class="users">
	<h1>User add/edit</h1>

	<form class="form-horizontal" method="post">
		{{ form.csrf_token }}
		{{ b_wtf.bootstrap_field(form.username, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.password, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.email, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.roles, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.active, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
	</form>
</div>
{% endblock %}
