{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Visuals / Portmap{% endblock %}

{% block style %}
<style>
/* fix scrollbar to prevet columns reflow when long content is pulled into #port_detail */
html { overflow-y: scroll; }
/* used in service/portstat html fragment */
table.table-condensed tbody tr td { padding: 1px; }
table.borderless tbody tr td { border: none; }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_static_custom = {
		'searching': false,
		'order': [[1, 'desc']],
	};

	$(document).ready(function() {
		$('.portmap_item').on('mouseenter', function() {
			var route_args = {'port': $(this).attr('data-port')};
			var filter = new URLSearchParams(window.location.search).get('filter');
			if (filter) {
				route_args['filter'] = filter;
			}
			$.ajax({
				url: Flask.url_for('visuals.portmap_portstat_route', route_args),
				success: function (data, status, jqXHR) { $('#port_detail').html(data);	}
			});
		});

		$('#portstates').on('shown.bs.collapse', function() { localStorage.setItem('portmap_portstates_collapse', "true"); });
		$('#portstates').on('hidden.bs.collapse', function() { localStorage.setItem('portmap_portstates_collapse', "false"); });
		$('#portstates').toggleClass('show', localStorage.getItem('portmap_portstates_collapse') === "true");
	});
</script> 
{% endblock %}

{% block content %}
{% call cm.heading(['Visuals', 'Portmap']) %}
	<div class="breadcrumb-buttons pl-2">
		<a class="btn btn-outline-secondary" data-toggle="collapse" href="#filter_form"><i class="fas fa-filter"></i></a>
	</div>
{% endcall %}

<div class="card">
	<h5 class="card-header">
		<a data-toggle="collapse" href="#portstates">Services port states</a>
	</h5>
	<div class="card-body collapse" id="portstates">
		<table class="dt_static table table-condensed table-hover">
			<thead>
				<tr>
					<th>port state</th>
					<th>state count</th>
					<th class="no-sort">_buttons</th>
				</tr>
			</thead>
			<tbody>
				{% for state, count in portstates %}
				<tr>
					<td>{{ state }}</td>
					<td>{{ count }}</td>
					<td>
						<a href="{{ url_for('visuals.portmap_route', filter='Service.state=="%s"'|format(state)) }}"><i class="fas fa-filter"></i></a>
						<a href="{{ url_for('storage.service_list_route', filter='Service.state=="%s"'|format(state)) }}"><i class="fas fa-list"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="dt_toolbar">
	{{ cm.filter_form() }}
</div>

<div class="row py-1">
	<div class="col-md-6">
		{% for tmp in portmap %}
		<a class="portmap_item" href="{{ url_for('storage.service_list_route', filter='Service.port=="%s"'|format(tmp['port'])) }}" style="font-size: {{ tmp['size'] }}px" data-port="{{ tmp['port'] }}">{{ tmp['port'] }}</a>&nbsp;
		{% endfor %}
	</div>
	<div class="col-md-6" id="port_detail"></div>
</div>
{% endblock %}
