{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Services grouped{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_service_grouped_table_options = {
		'ajax': {'url': "{{ url_for('storage.service_grouped_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			dt_column('info', {'render': function (data, type, row, meta) { return storage_pagepart_service_list_filter_info_link({'info': row['info'], 'info_encoded': encodeURIComponent(row['info'])}); }}),
			dt_column('nr_services')
		],
		'order': [[1, 'desc']]
	};
	$(document).ready(function() {
		var dt_service_grouped_table = $('#service_grouped_table').DataTable($.extend({}, dt_ajax_options, dt_service_grouped_table_options));
	});
</script>
{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Storage', 'Services', 'Grouped']) }}

<div id="service_list_table_toolbar" class="dt_toolbar">
	{% if 'filter' in request.args %}<a class="btn btn-info" href="{{ url_for('storage.service_grouped_route') }}">unfilter</a>{% endif %}
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled">crop at:</a>
		{% for crop in [1, 2, 3, 4, 5] %}
			<a class="btn btn-outline-secondary{% if request.args.get('crop')|int == crop %} active{% endif %}" href="{{ url_for('storage.service_grouped_route', crop=crop) }}">{{ crop }}</a>
		{% endfor %}
		<a class="btn btn-outline-secondary{% if not request.args.get('crop')|int %} active{% endif %}" href="{{ url_for('storage.service_grouped_route') }}">no crop</a>
</div>

<table id="service_grouped_table" class="table table-hover table-sm"></table>
{% endblock %}
