{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
	var datatable_ajax_custom = {
		"ajax": {"url": "{{ url_for('storage.service_list_json_route', **request.args) }}", "method": "POST"},
		"columns": columns_with_buttons(["id", column("address", null), "hostname", "proto", "port", "name", "state", "info", "comment"])
	};
</script>
{% endblock %}

{% block content %}
<div class="services">
	<h1>Services list{% if 'port' in request.args %} <small><a class="btn btn-info" href="{{ url_for('storage.service_list_route') }}">unfilter</a></small>{% endif %}</h1>

	<table id="services_table" class="datatable_ajax table table-hover table-responsive table-condensed"></table>
</div>
{% endblock %}
