{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Services / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_service_list_table_options = {
		'ajax': {'url': "{{ url_for('storage.service_list_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			dt_column('id', {'visible': false}),
			dt_column('host_id', {'visible': false}),
			dt_column('host_address', {'render': function (data, type, row, meta) { return storage_pagepart_host_link(row); }}),
			dt_column('host_hostname'),
			dt_column('proto'),
			dt_column('port'),
			dt_column('name'),
			dt_column('state'),
			dt_column('info'),
			dt_column('comment'),
			dt_column_buttons(storage_pagepart_service_controls)
		]
	};
	$(document).ready(function() {
		var dt_service_list_table = $('#service_list_table').DataTable($.extend({}, dt_ajax_options, dt_service_list_table_options));
	});
</script>
{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Storage', 'Services', 'List']) }}

<div id="service_list_table_toolbar" class="dt_toolbar">
	{% if 'filter' in request.args %}<a class="btn btn-info" href="{{ url_for('storage.service_list_route') }}">unfilter</a>{% endif %}
</div>

<table id="service_list_table" class="table table-hover table-sm" width="100%"></table>
{% endblock %}
