{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
	var datatables_ajax_custom = {
		"ajax": {"url": "/storage/service/list.json", "method": "POST"},
		"columns": columns_with_buttons(["id", "host", "proto", "port", "name", "state", "info", "created", "modified"])
	}
</script>
{% endblock %}

{% block content %}
<div class="services">
	<h1>Services list</h1>

	<table id="services_table" class="datatable_ajax table table-hover table-responsive">
	</table>
</div>
{% endblock %}
