{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
<h2>Port {{port}}</h2>

<h3>Stats</h3>
<dl class="dl-horizontal">
	{% for key, val in stats.items() %}
	<dt>{{key}}</dt><dd>{{val}}</dd>
	{% endfor %}
</dl>

{% if infos  %}
<h3>Infos</h3>
<ul>
	{% for info in infos %}
	<li>{{info[0]}}</li>
	{% endfor %}
</ul>
{% endif %}

<h3>Hosts</h3>
<ul>
	{% for host, host_id in hosts %}
	<li><a href="{{ url_for('storage.host_view_route', host_id=host_id) }}">{{host}}</a></li>
	{% endfor %}
</ul>

{% if comments  %}
<h3>Comments</h3>
<ul>
	{% for comment in comments %}
	<li>{{comment[0]}}</li>
	{% endfor %}
</ul>
{% endif %}
