{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Hosts / Add or edit{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Storage', 'Hosts', 'Add or edit']) }}

<form method="post">
	{{ form.csrf_token }}
	{{ form.return_url }}
	{{ bwtf.bootstrap_field(form.address, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.hostname, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.os, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.comment, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
