{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		$("a[data-toggle='tab']").on("show.bs.tab", function(e) {
			localStorage.setItem("host_view_activeTab", $(e.target).attr("href"));
		});
		var activeTab = localStorage.getItem("host_view_activeTab");
		if (!activeTab) { activeTab = $("a[data-toggle='tab']").first().attr("href"); }
		$("#host_view a[href='" + activeTab + "']").tab("show");
	});
</script>
{% endblock %}

{% block content %}
<div class="hosts">
	<h1>Host {{host.address}} ({{host.hostname}}) <small>{% include 'storage/host/pagepart-controls.html' %}</small></h1>

	<div>
		<dl class="dl-horizontal">
		<dt>os</dt><dd>{{ host.os }}</dd>
		<dt>comment</dt><dd>{{ host.comment }}</dd>
		<dt>created</dt><dd>{{ host.created|datetime }}</dd>
		<dt>modified</dt><dd>{{ host.modified|datetime }}</dd>
		</dl>
	</div>


	<ul class="nav nav-tabs" role="tablist" id="host_view">
		<li role="presentation" class=""><a href="#services" role="tab" data-toggle="tab">Services</a></li>
		<li role="presentation" class=""><a href="#vulns" role="tab" data-toggle="tab">Vulns</a></li>
		<li role="presentation" class=""><a href="#notes" role="tab" data-toggle="tab">Notes</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane" id="services">
			<table id="datatable_host_services" class="table table-hover table-responsive table-condensed" width="100%"></table>
			<script type="text/javascript">
				var datatable_host_services = {
					"ajax": {"url": "{{ url_for('storage.service_list_json_route', host_id=host.id) }}", "method": "POST"},
					"columns": columns_with_buttons(["id", "proto", "port", "name", "state", "info", "comment"]),
				};
				$(document).ready(function() {
					$('#datatable_host_services').DataTable($.extend({}, datatable_ajax_options, datatable_host_services));
				});
			</script>
		</div>


		<div role="tabpanel" class="tab-pane" id="vulns">
			<table id="datatable_host_vulns" class="table table-hover table-responsive table-condensed" width="100%"></table>
			<script type="text/javascript">
				var datatable_host_vulns = {
					"ajax": {"url": "{{ url_for('storage.vuln_list_json_route', host_id=host.id) }}", "method": "POST"},
					"columns": columns_with_buttons(["id", "service", "name", "xtype", column("severity", null), column("refs", null), "comment"]),
				};
				$(document).ready(function() {
					$('#datatable_host_vulns').DataTable($.extend({}, datatable_ajax_options, datatable_host_vulns));
				});
			</script>
		</div>


		<div role="tabpanel" class="tab-pane" id="notes">
			<table id="datatable_host_notes" class="table table-hover table-responsive table-condensed" width="100%"></table>
			<script type="text/javascript">
				var datatable_host_notes = {
					"ajax": {"url": "{{ url_for('storage.note_list_json_route', host_id=host.id) }}", "method": "POST"},
					"columns": columns_with_buttons(["id", "ntype", "data", "comment"]),
				};
				$(document).ready(function() {
					$('#datatable_host_notes').DataTable($.extend({}, datatable_ajax_options, datatable_host_notes));
				});
			</script>
		</div>
	</div>
</div>
{% endblock %}
