{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% raw %}
<script id="scheduler.pagepart-task_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> scheduler.task_edit_route task_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<div class="btn-group">
		<a class="btn btn-xs btn-default dropdown-toggle task-controls-dropdown" data-toggle="dropdown"><span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="{{> scheduler.queue_add_route task_id=id}}">Add queue</a></li>
		</ul>
	</div>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> scheduler.task_delete_route task_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>
<script id="scheduler.pagepart-queue_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> scheduler.queue_edit_route queue_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<div class="btn-group">
		<a class="btn btn-xs btn-default dropdown-toggle queue-controls-dropdown" data-toggle="dropdown"><span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="{{> scheduler.queue_enqueue_route queue_id=id}}" title="Put targets to queue">Enqueue</a></li>
			<li><a class="abutton_queueflush_by_url" data-url="{{> scheduler.queue_flush_route queue_id=id}}" title="Flush all targets from queue">Flush</a></li>
			<li><a class="abutton_queueprune_by_url" data-url="{{> scheduler.queue_prune_route queue_id=id}}" title="Delete all jobs associated with queue">Prune</a></li>
		</ul>
	</div>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> scheduler.queue_delete_route queue_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>
<script id="scheduler.pagepart-job_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> scheduler.job_delete_route job_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>
<script id="scheduler.pagepart-excl_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> scheduler.excl_edit_route excl_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-danger abutton_delete_by_url" data-url="{{> scheduler.excl_delete_route excl_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>
{% endraw %}
<script type="text/javascript">
	/* hbs partials to pass flask endpoint uris to hbs templates */
	Handlebars.registerPartial('scheduler.task_edit_route', Flask.url_for('scheduler.task_edit_route', {'task_id': '{%raw%}{{task_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.task_delete_route', Flask.url_for('scheduler.task_delete_route', {'task_id': '{%raw%}{{task_id}}{%endraw%}'}));

	Handlebars.registerPartial('scheduler.queue_add_route', Flask.url_for('scheduler.queue_add_route', {'task_id': '{%raw%}{{task_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.queue_edit_route', Flask.url_for('scheduler.queue_edit_route', {'queue_id': '{%raw%}{{queue_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.queue_enqueue_route', Flask.url_for('scheduler.queue_enqueue_route', {'queue_id': '{%raw%}{{queue_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.queue_flush_route', Flask.url_for('scheduler.queue_flush_route', {'queue_id': '{%raw%}{{queue_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.queue_prune_route', Flask.url_for('scheduler.queue_prune_route', {'queue_id': '{%raw%}{{queue_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.queue_delete_route', Flask.url_for('scheduler.queue_delete_route', {'queue_id': '{%raw%}{{queue_id}}{%endraw%}'}));

	Handlebars.registerPartial('scheduler.job_delete_route', Flask.url_for('scheduler.job_delete_route', {'job_id': '{%raw%}{{job_id}}{%endraw%}'}));

	Handlebars.registerPartial('scheduler.excl_edit_route', Flask.url_for('scheduler.excl_edit_route', {'excl_id': '{%raw%}{{excl_id}}{%endraw%}'}));
	Handlebars.registerPartial('scheduler.excl_delete_route', Flask.url_for('scheduler.excl_delete_route', {'excl_id': '{%raw%}{{excl_id}}{%endraw%}'}));

	/* hbs templates */
	var scheduler_pagepart_task_controls = Handlebars.compile(document.getElementById('scheduler.pagepart-task_controls.hbs').innerHTML);

	var scheduler_pagepart_queue_controls = Handlebars.compile(document.getElementById('scheduler.pagepart-queue_controls.hbs').innerHTML);

	var scheduler_pagepart_job_controls = Handlebars.compile(document.getElementById('scheduler.pagepart-job_controls.hbs').innerHTML);

	var scheduler_pagepart_excl_controls = Handlebars.compile(document.getElementById('scheduler.pagepart-excl_controls.hbs').innerHTML);
</script>
