{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Vulns / Add or edit{% endblock %}

{% block script %}
<script type="text/javascript">
	function suggest_host(req, response) {
		$.ajax(Flask.url_for('storage.vuln_addedit_host_autocomplete_route', {'term': req.term}))
			.done(function(data, textStatus, jqXHR) { return response(data); })
			.fail(function(jqXHR, textStatus, errorThrown) { return response([]); });
	}

	function suggest_service(req, response) {
		$.ajax(Flask.url_for('storage.vuln_addedit_service_autocomplete_route', {'host_id': $('#vuln_form input[name="host_id"]').val(), 'service_term': req.term}))
			.done(function(data, textStatus, jqXHR) { return response(data); })
			.fail(function(jqXHR, textStatus, errorThrown) { return response([]); });
	}

	function suggest_viatarget(req, response) {
		$.ajax(Flask.url_for('storage.vuln_addedit_viatarget_autocomplete_route', {'host_id': $('#vuln_form input[name="host_id"]').val(), 'target_term': req.term}))
			.done(function(data, textStatus, jqXHR) { return response(data); })
			.fail(function(jqXHR, textStatus, errorThrown) { return response([]); });
	}

	$(document).ready(function() {
		$('#vuln_form input[name="host_id"]')
			.autocomplete({'source': suggest_host});
		$('#vuln_form input[name="service_id"]')
			.autocomplete({'source': suggest_service, 'minLength': 0})
			.bind('focus', function(){ $(this).autocomplete("search"); });
		$('#vuln_form input[name="via_target"]')
			.autocomplete({'source': suggest_viatarget, 'minLength': 0})
			.bind('focus', function(){ $(this).autocomplete("search"); });
	});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['Vulns', 'Add or edit']) %}{% endcall %}

<form id="vuln_form" method="post">
	{{ form.csrf_token }}
	{{ form.return_url }}
	<div class="form-group row">
		<label class="col-sm-2 col-form-label"><a data-toggle="collapse" href="#refs_collapse">Host, Service</a></label>
		<div class="col-sm-10"><div class="form-control-plaintext">{{ host.address }} ({{ host.hostname }}){% if service %} {{ service.port }}/{{ service.proto }}{% endif %}</div></div>
	</div>
	<div class="collapse" id="refs_collapse">
		{{ bwtf.bootstrap_field(form.host_id, horizontal=True) }}
		{{ bwtf.bootstrap_field(form.service_id, horizontal=True) }}
		{{ bwtf.bootstrap_field(form.via_target, horizontal=True) }}
	</div>
	{{ bwtf.bootstrap_field(form.name, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.xtype, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.severity, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.descr, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.data, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.refs, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.tags, horizontal=True) }}
	{{ cm.addtag_buttons() }}
	{{ bwtf.bootstrap_field(form.comment, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
