{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Vulns / Grouped{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_vuln_grouped_table_options = {
		'ajax': {'url': "{{ url_for('storage.vuln_grouped_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			dt_column('name', {'render': function (data, type, row, meta) { return storage_pagepart_vuln_list_filter_name_link({'name': row['name'], 'name_encoded': encodeURIComponent(row['name'])}); }}),
			dt_column('severity', {'render': function (data, type, row, meta) { return storage_pagepart_severity_label(row); }}),
			dt_column('tags'),
			dt_column('cnt_vulns')
		]
	};
	$(document).ready(function() {
		var dt_vuln_grouped_table = $('#vuln_grouped_table').DataTable($.extend({}, dt_ajax_options, dt_vuln_grouped_table_options));
	});
</script>
{% endblock %}


{% block content %}
{% call cm.heading(['Vulns', 'Grouped']) %}{% endcall %}

<div id="vuln_grouped_table_toolbar" class="dt_toolbar">
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-filter"></i></a>
		{% if 'filter' in request.args %}<a class="btn btn-info" href="{{ url_for('storage.vuln_grouped_route') }}">unfilter</a>{% endif %}
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_grouped_route', filter='Vuln.tags=="{}"') }}">Not tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_grouped_route', filter='Vuln.tags!="{}"') }}">Tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_grouped_route', filter='Vuln.tags not_all "report" AND Vuln.tags not_all "info"') }}">Exclude reviewed</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_grouped_route', filter='Vuln.tags any "report"') }}">Only Report</a>
	</div>
</div>

<table id="vuln_grouped_table" class="table table-hover table-sm" width="100%"></table>
{% endblock %}
