{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Vulns / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_vuln_list_table_options = {
		'ajax': {'url': "{{ url_for('storage.vuln_list_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			dt_column_select(),
			dt_column('id', {'visible': false}),
			dt_column('host_id', {'visible': false}),
			dt_column('host_address', {'render': function (data, type, row, meta) { return storage_pagepart_host_link(row); }}),
			dt_column('host_hostname'),
			dt_column('service'),
			dt_column('name', {'render': function (data, type, row, meta) { return storage_pagepart_vuln_link(row); }}),
			dt_column('xtype'),
			dt_column('severity', {'render': function (data, type, row, meta) { return storage_pagepart_severity_label(row); }}),
			dt_column('refs', {'render': function (data, type, row, meta) { return storage_pagepart_vuln_refs(row); }}),
			dt_column('tags'),
			dt_column('comment'),
			dt_column_buttons(storage_pagepart_vuln_controls)
		],
		'order': [[1, 'asc']],
		'select': {'style': 'multi', 'selector': 'td:first-child'}
	};
	$(document).ready(function() {
		var dt_vuln_list_table = $('#vuln_list_table').DataTable($.extend({}, dt_ajax_options, dt_vuln_list_table_options));
		$('#vuln_list_table_toolbar .abutton_selectall').on('click', {'dt': dt_vuln_list_table}, action_selectall);
		$('#vuln_list_table_toolbar .abutton_selectnone').on('click', {'dt': dt_vuln_list_table}, action_selectnone);
		$('#vuln_list_table_toolbar .abutton_tagmulti').on('click', {'dt': dt_vuln_list_table, 'url': Flask.url_for('storage.vuln_tag_by_id_route'), 'action': 'set'}, action_tag_by_id);
		$('#vuln_list_table_toolbar .abutton_deletemulti').on('click', {'dt': dt_vuln_list_table, 'url': "{{ url_for('storage.vuln_delete_by_id_route') }}"}, action_delete_by_id);
		$('#vuln_list_table_toolbar .abutton_untagmulti').on('click', {'dt': dt_vuln_list_table, 'url': Flask.url_for('storage.vuln_tag_by_id_route'), 'action': 'unset'}, action_tag_by_id);
	});
</script>
{% endblock %}


{% block content %}
{{ cm.breadcrumbs(['Storage', 'Vulns', 'List']) }}

<div id="vuln_list_table_toolbar" class="dt_toolbar">
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-check-square"></i></a>
		<a class="btn btn-outline-secondary abutton_selectall">All</a>
		<a class="btn btn-outline-secondary abutton_selectnone">None</a>
	</div>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-tag"></i></a>
		<a class="btn btn-outline-secondary abutton_tagmulti" data-tag="info">Info</a>
		<a class="btn btn-outline-secondary abutton_tagmulti" data-tag="report">Report</a>
		<a class="btn btn-outline-secondary abutton_tagmulti" data-tag="todo">ToDo</a>
	</div>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-remove-format"></i></a>
		<a class="striked btn btn-outline-secondary abutton_untagmulti" data-tag="info">Info</a></li>
		<a class="striked btn btn-outline-secondary abutton_untagmulti" data-tag="report">Report</a></li>
		<a class="striked btn btn-outline-secondary abutton_untagmulti" data-tag="todo">Todo</a></li>
	</div>
	<a class="btn btn-outline-secondary abutton_deletemulti"><i class="fas fa-trash text-danger"></i></a>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-filter"></i></a>
		{% if 'filter' in request.args %}<a class="btn btn-info" href="{{ url_for('storage.vuln_list_route') }}">unfilter</a>{% endif %}</h1>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags=="{}"') }}">Not tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags!="{}"') }}">Tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags not_all "report" AND Vuln.tags not_all "info"') }}">Exclude reviewed</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags any "report"') }}">Only Report</a>
	</div>
	<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_report_route') }}">Generate report</a>
</div>

<table id="vuln_list_table" class="table table-hover table-sm"></table>
{% endblock %}
