{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Vulns / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_vuln_list_table_options = {
		'ajax': {'url': "{{ url_for('storage.vuln_list_json_route', **request.args) }}", 'method': 'POST'},
		'columns': [
			Sner.dt.column_select(),
			Sner.dt.column('id', {'visible': false}),
			Sner.dt.column('host_id', {'visible': false}),
			Sner.dt.column('host_address', {'render': function(data, type, row, meta) { return Sner.storage.hbs.host_link(row); }}),
			Sner.dt.column('host_hostname'),
			Sner.dt.column('service_proto', {'visible': false}),
			Sner.dt.column('service_port', {'visible': false}),
			Sner.dt.column('service', {'className': 'clickable', 'render': function(data, type, row, meta) { return Sner.storage.hbs.service_endpoint_dropdown(row); }}),
			Sner.dt.column('name', {'render': function(data, type, row, meta) { return Sner.storage.hbs.vuln_link(row); }}),
			Sner.dt.column('xtype', {'visible': false}),
			Sner.dt.column('severity', {'render': function(data, type, row, meta) { return Sner.storage.hbs.severity_label(row); }}),
			Sner.dt.column('refs', {'render': function(data, type, row, meta) { return Sner.storage.hbs.vuln_refs(row); }}),
			Sner.dt.column('tags', {'className': 'abutton_annotate_dt', 'render': function(data, type, row, meta) {return Sner.storage.hbs.tag_labels(row);}}),
			Sner.dt.column('comment', {'className': 'abutton_annotate_dt forcewrap', 'title': 'cmnt'}),
			Sner.dt.column_buttons(Sner.storage.hbs.vuln_controls)
		],
		'order': [[1, 'asc']],
		'select': {'style': 'multi', 'selector': 'td:first-child'},
		'drawCallback': function (settings) {
			Sner.dt.ajax_options['drawCallback'].call(this, settings); // call parent
			this.find('td.abutton_annotate_dt').on('dblclick', {'dt': this.api(), 'route_name': 'storage.vuln_annotate_route'}, Sner.storage.action_annotate_dt);
		}
	};
	$(document).ready(function() {
		var dt_vuln_list_table = Sner.dt.init_datatable('#vuln_list_table', dt_vuln_list_table_options);
		$('#vuln_list_table_toolbar .abutton_selectall').on('click', {'dt': dt_vuln_list_table}, Sner.dt.selectall);
		$('#vuln_list_table_toolbar .abutton_selectnone').on('click', {'dt': dt_vuln_list_table}, Sner.dt.selectnone);
		$('#vuln_list_table_toolbar .abutton_tag_multiid').on('click', {'dt': dt_vuln_list_table, 'route_name': 'storage.vuln_tag_multiid_route', 'action': 'set'}, Sner.storage.action_tag_multiid);
		$('#vuln_list_table_toolbar .abutton_untag_multiid').on('click', {'dt': dt_vuln_list_table, 'route_name': 'storage.vuln_tag_multiid_route', 'action': 'unset'}, Sner.storage.action_tag_multiid);
		$('#vuln_list_table_toolbar .abutton_delete_multiid').on('click', {'dt': dt_vuln_list_table, 'route_name': 'storage.vuln_delete_multiid_route'}, Sner.storage.action_delete_multiid);
	});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['Vulns']) %}
	<div class="pl-2">
		<a class="btn btn-outline-secondary" data-toggle="collapse" href="#filter_form"><i class="fas fa-filter"></i></a>
	</div>
{% endcall %}

<div id="vuln_list_table_toolbar" class="dt_toolbar">
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-check-square"></i></a>
		<a class="btn btn-outline-secondary abutton_selectall" href="#">All</a>
		<a class="btn btn-outline-secondary abutton_selectnone" href="#">None</a>
	</div>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-tag"></i></a>
		<a class="btn btn-outline-secondary abutton_tag_multiid" href="#" data-tag="info">Info</a>
		<a class="btn btn-outline-secondary abutton_tag_multiid" href="#" data-tag="report">Report</a>
		<a class="btn btn-outline-secondary abutton_tag_multiid" href="#" data-tag="todo">Todo</a>
	</div>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-remove-format"></i></a>
		<a class="striked btn btn-outline-secondary abutton_untag_multiid" href="#" data-tag="info">Info</a></li>
		<a class="striked btn btn-outline-secondary abutton_untag_multiid" href="#" data-tag="report">Report</a></li>
		<a class="striked btn btn-outline-secondary abutton_untag_multiid" href="#" data-tag="todo">Todo</a></li>
	</div>
	<a class="btn btn-outline-secondary abutton_delete_multiid" href="#"><i class="fas fa-trash text-danger"></i></a>
	<div class="btn-group">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-filter"></i></a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags=="{}"') }}">Not tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags!="{}"') }}">Tagged</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags not_any "report" AND Vuln.tags not_any "info"') }}">Exclude reviewed</a>
		<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_list_route', filter='Vuln.tags any "report"') }}">Only Report</a>
	</div>
	<a class="btn btn-outline-secondary" href="{{ url_for('storage.vuln_report_route') }}">Generate report</a>
	{{ cm.filter_form() }}
</div>

<table id="vuln_list_table" class="table table-hover table-sm" width="100%"></table>
{% endblock %}
