{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Vulns / View / {{ vuln.host.address }} {{ vuln.host.hostname }} / {{ vuln.name }} ({{ vuln.xtype }}){% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
	$('.abutton_tag_view').on('click', Sner.storage.action_tag_view);
	$('.abutton_annotate_view').on('dblclick', Sner.storage.action_annotate_view);
});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['Vuln', '%s %s' % (vuln.host.address, vuln.host.hostname), '%s (%s)' % (vuln.name, vuln.xtype)]) %}
	<div class="pl-2">
		<a class="btn btn-outline-primary" title="Jump to same name vuln listing" href="{{ url_for('storage.vuln_list_route', filter='Vuln.name=="'+vuln.name+'"') }}"><i class="fas fa-list"></i></a>
		<div class="btn-group">
			<a class="btn btn-outline-primary disabled"><i class="fas fa-tag text-primary"></i></a>
			{{ cm.view_tag_abuttons(config['SNER_TAGS_VULN'], 'storage.vuln_tag_multiid_route', vuln.id) }}
		</div>
		<a class="btn btn-outline-primary" href="{{ url_for('storage.vuln_edit_route', vuln_id=vuln.id) }}"><i class="fas fa-edit"></i></a>
		{% with form=button_form, form_url=url_for('storage.vuln_delete_route', vuln_id=vuln.id) %}{% include 'button-delete.html' %}{% endwith %}
	</div>
{% endcall %}

<table class="table table-bordered table-sm w-auto">
	<tbody>
		<tr>
			<th>host</th>
			<td>
				<span class="render_hbs" data-hbs="storage.hbs.host_link" data-hbs_context='{{ {'host_id': vuln.host.id, 'host_address': vuln.host.address}|tojson }}'>{{ vuln.host.address }}</span>
				{{ vuln.host.hostname }}
			</td>
			<th>service</th>
			<td class="service_endpoint_dropdown">
				<span class="render_hbs" data-hbs="storage.hbs.service_endpoint_dropdown" data-hbs_context='{{ {'host_address': vuln.host.address, 'host_hostname': vuln.host.hostname, 'service_proto': vuln.service.proto|default(None), 'service_port': vuln.service.port|default(None), 'value': vuln.service|string}|tojson }}'></span>
			</td>
			<th>via_target</th>
			<td>{{ vuln.via_target }}</td>
		</tr>
		<tr>
			<th>xtype</th>
			<td>{{ vuln.xtype }}</td>

			<th>severity</th>
			<td colspan="3">
				<span class="render_hbs" data-hbs="storage.hbs.severity_label" data-hbs_context='{{ {'severity': vuln.severity|string}|tojson }}'>{{ vuln.severity }}</span>
			</td>
		</tr>
		<tr>
			<th>refs</th>
			<td>
				<span class="render_hbs" data-hbs="storage.hbs.vuln_refs" data-hbs_context='{{ {'refs': vuln.refs}|tojson }}'>{{ vuln.refs }}</span>
			</td>
			<th>tags</th>
			<td
				class="render_hbs abutton_annotate_view" colspan="3"
				data-hbs="storage.hbs.tag_labels" data-hbs_context='{{ {'tags': vuln.tags}|tojson }}'
				data-annotate_route="storage.vuln_annotate_route" data-model_id="{{vuln.id}}">
				{{ vuln.tags }}
			</td>
		</tr>
		<tr>
			<th>comment</th>
			<td
				class="abutton_annotate_view" colspan="5"
				data-annotate_route="storage.vuln_annotate_route" data-model_id="{{vuln.id}}">
				{{ vuln.comment }}
			</td>
		</tr>
	</tbody>
</table>

<h2>Description</h2>
<div>
{% if vuln.descr %}{% for tmp in vuln.descr.splitlines() %}<p>{{ tmp }}</p>{% endfor %}{% endif %}
</div>

<h2>Data</h2>
<div>
	<pre>{{ vuln.data }}</pre>
</div>
{% endblock %}
