{% extends "base.html" %}

{% block content %}
<div class="Vulns">
	<h1>
		Vuln {{ vuln.id }}: {{ vuln.name }}
		<small>
			<a class="btn btn-xs btn-default" href="{{ url_for('storage.vuln_edit_route', vuln_id=vuln.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
			{% with form=button_form, form_url=url_for('storage.vuln_delete_route', vuln_id=vuln.id) %}{% include 'button-delete.html' %}{% endwith %}
		</small>
	</h1>

	<div>
		<dl class="dl-horizontal">
		<dt>host address</dt><dd class="render_hbs" data-hbs="storage_pagepart_host_link" data-hbs_context='{{ {'host_id': vuln.host.id, 'host_address': vuln.host.address}|tojson }}'>{{ vuln.host.address }}</dd>
		<dt>host hostname</dt><dd>{{ vuln.host.hostname }}</dd>
		<dt>service</dt><dd>{{ vuln.service }}</dd>
		<dt>xtype</dt><dd>{{ vuln.xtype }}</dd>
		<dt>severity</dt><dd class="render_hbs" data-hbs="storage_pagepart_severity_label" data-hbs_context='{{ {'severity': vuln.severity|string}|tojson }}'>{{ vuln.severity }}</dd>
		<dt>refs</dt><dd class="render_hbs" data-hbs="storage_pagepart_vuln_refs" data-hbs_context='{{ {'refs': vuln.refs}|tojson }}'>{{ vuln.refs }}</dd>
		<dt>comment</dt><dd>{{ vuln.comment }}</dd>
		</dl>
	</div>

	<h2>Description</h2>
	<div>
	{% if vuln.descr %}{% for tmp in vuln.descr.splitlines() %}<p>{{ tmp }}</p>{% endfor %}{% endif %}
	</div>

	<h2>Data</h2>
	<div>
		<pre>{{ vuln.data }}</pre>
	</div>
</div>
{% endblock %}
