{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}User profile / Change password{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['User profile', 'Change password']) }}

<form method="post">
	{{ form.csrf_token }}
	{{ bwtf.bootstrap_field(form.current_password, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.password1, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.password2, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
