{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}
{% import "bootstrap_wtf.html" as b_wtf %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="profile">
	<h1>Change password</h1>

	<form class="form-horizontal" method="post">
		{{ form.csrf_token }}
		{{ b_wtf.bootstrap_field(form.password1, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.password2, horizontal=True) }}
		{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
	</form>
</div>
{% endblock %}
