{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}User profile{% endblock %}

{% block script %}
<script>
	var dt_profile_webauthn_table_options = {
		'ajax': {'url': Flask.url_for('auth.profile_webauthn_list_json_route'), 'method': 'POST'},
		'columns': [
			dt_column('id', {'visible': false}),
			dt_column('name'),
			dt_column('registered'),
			dt_column_buttons(auth_pagepart_profile_webauthn_controls)
		],
		'ordering': false,
		'paging': false,
		'info': false,
		'searching': false,
	};

	$(document).ready(function() {
		var dt_profile_webauthn_table = $('#profile_webauthn_table').DataTable($.extend({}, dt_ajax_options, dt_profile_webauthn_table_options));
	});
</script>
{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['User profile']) }}

<dl class="row">
	<dt class="col-1">username</dt>
	<dd class="col-11">{{ user.username }} <a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_changepassword_route') }}">Change password</a></dd>

	<dt class="col-1">email</dt>
	<dd class="col-11">{{ user.email }}</dd>

	<dt class="col-2">2fa authentication</dt>
	<dd class="col-10">
	{% if user.totp %}{% set tfa_state = ('enabled', 'Disable') %}{% else %}{% set tfa_state = ['disabled', 'Enable'] %}{% endif %}
	{{ tfa_state[0] }} <a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_totp_route') }}">{{ tfa_state[1] }}</a>
	</dd>

	<dt class="col-1">webauthn credentials</dt>
	<dd class="col-11">
		<div id="profile_webauthn_table_toolbar" class="dt_toolbar">
			<a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_webauthn_register_route') }}">Register new</a>
		</div>
		<table id="profile_webauthn_table" class="table table-hover table-sm"></table>
	</dd>
</dl>
{% endblock %}
