{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}User profile{% endblock %}

{% block script %}
<script>
	var dt_profile_webauthn_table_options = {
		'ajax': {'url': Flask.url_for('auth.profile_webauthn_list_json_route'), 'method': 'POST'},
		'columns': [
			Sner.dt.column('id', {'visible': false}),
			Sner.dt.column('name'),
			Sner.dt.column('registered'),
			Sner.dt.column_buttons(Sner.auth.hbs.profile_webauthn_controls)
		],
		'ordering': false,
		'paging': false,
		'info': false,
		'searching': false,
	};

	$(document).ready(function() {
		var dt_profile_webauthn_table = Sner.dt.init_datatable('#profile_webauthn_table', dt_profile_webauthn_table_options);
	});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['User profile']) %}{% endcall %}

<table class="table table-sm auth-user-profile">
	<tr>
		<th>username</th>
		<td>{{ user.username }} <a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_changepassword_route') }}">Change password</a></td>
	</tr>

	<tr>
		<th>email</th>
		<td>{{ user.email }}</td>
	</tr>

	<tr>
		<th>2fa authentication</th>
		<td>
	                {% if user.totp %}{% set tfa_state = ('enabled', 'Disable') %}{% else %}{% set tfa_state = ['disabled', 'Enable'] %}{% endif %}
			{{ tfa_state[0] }} <a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_totp_route') }}">{{ tfa_state[1] }}</a>
		</td>
	</tr>

	<tr>
		<th>webauthn credentials</th>
		<td>
			<div id="profile_webauthn_table_toolbar" class="dt_toolbar">
				<a class="btn btn-outline-secondary" href="{{ url_for('auth.profile_webauthn_register_route') }}">Register new</a>
			</div>
			<table id="profile_webauthn_table" class="table table-hover table-sm"></table>
		</td>
	</tr>

	<tr>
		<th>apikey</th>
		<td>
			{% with form=button_form, form_url=url_for('auth.profile_apikey_route', action='generate'), button_caption='Generate' %}{% include 'button-generic.html' %}{% endwith %}
			{% if user.apikey %}
				{% with form=button_form, form_url=url_for('auth.profile_apikey_route', action='revoke'), button_caption='Revoke' %}{% include 'button-generic.html' %}{% endwith %}
				<span class="badge badge-info">apikey set</span>
			{% endif %}
			</div>
			{% if new_apikey %}<div class="alert alert-warning">new apikey {{ new_apikey }}</div>{% endif %}
		</td>
	</tr>
	<tr>
		<th>api_networks</th>
		<td>{{ user.api_networks }}</td>
	</tr>
</table>

{% endblock %}
