{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Tasks / Add or edit{% endblock %}

{% block content %}
{% call cm.heading(['Tasks', 'Add or edit']) %}{% endcall %}

<form method="post">
	{{ form.csrf_token }}
	{{ bwtf.bootstrap_field(form.name, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.module, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.params, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
