{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Task add/edit{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Scheduler', 'Tasks', 'Add or edit']) }}

<form method="post">
	{{ form.csrf_token }}
	{{ b_wtf.bootstrap_field(form.name, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.module, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.params, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
