{% extends "base.html" %}

{% block content %}
<div class="tasks">
	<h1>Tasks list <a class="btn btn-xs btn-success" href="{{ url_for('scheduler.task_add_route') }}"><span class="glyphicon glyphicon-plus"></span> Add</a></h1>

	<table id="tasks_table" class="datatable table table-hover table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>profile</th>
			<th>group_size</th>
			<th>priority</th>
			<th>active</th>
			<th>targets</th>
			<th>created</th>
			<th>modified</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<td>{{ task.id }}</td>
			<td>{{ task.name }}</td>
			<td>{{ task.profile }}</td>
			<td>{{ task.group_size }}</td>
			<td>{{ task.priority }}</td>
			<td>{{ task.active }}</td>
			<td>{{ count_targets[task.id]|default(0) }}</td>
			<td>{{ task.created|datetime }}</td>
			<td>{{ task.modified|datetime }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ url_for('scheduler.task_edit_route', task_id=task.id) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{% with form=generic_button_form, form_url=url_for('scheduler.task_delete_route', task_id=task.id) %}{% include 'button_delete.html' %}{% endwith %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
