{% extends "base.html" %}

{% block content %}
<div class="tasks">
	<h1>Tasks list <a class="btn btn-xs btn-success" href="{{ url_for('task.add_route') }}"><span class="glyphicon glyphicon-plus"></span> Add</a></h1>

	<table id="tasks_table" class="datatable table table-hover table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>profile</th>
			<th>targets | queued</th>
			<th>group_size</th>
			<th>priority</th>
			<th>created</th>
			<th>modified</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
		<tr>
			<td>{{ task.id }}</td>
			<td>{{ task.name }}</td>
			<td>{{ task.profile }}</td>
			<td>{{ task.targets|length }} | {{ task.scheduled_targets|length }}</td>
			<td>{{ task.group_size }}</td>
			<td>{{ task.priority }}</td>
			<td>{{ task.created|datetime }}</td>
			<td>{{ task.modified|datetime }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ url_for('task.edit_route', task_id=task.id) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{% with form=generic_button_form, form_url=url_for('task.targets_route', task_id=task.id, action='schedule'), button_caption='Schedule' %}{% include 'button_generic.html' %}{% endwith %}
				{% with form=generic_button_form, form_url=url_for('task.targets_route', task_id=task.id, action='unschedule'), button_caption='Unschedule' %}{% include 'button_generic.html' %}{% endwith %}
				{% with form=generic_button_form, form_url=url_for('task.delete_route', task_id=task.id) %}{% include 'button_delete.html' %}{% endwith %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
