{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Tasks / List{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_task_list_table_options = {
		'ajax': {'url': "{{ url_for('scheduler.task_list_json_route') }}", 'method': 'POST'},
		'columns': [
			Sner.dt.column('id', {'visible': false}),
			Sner.dt.column('name'),
			Sner.dt.column('module'),
			Sner.dt.column('params'),
			Sner.dt.column('nr_queues'),
			Sner.dt.column_buttons(scheduler_pagepart_task_controls)
		]
	};
	$(document).ready(function() {
		var dt_task_list_table = $('#task_list_table').DataTable($.extend({}, Sner.dt.ajax_options, dt_task_list_table_options));
	});
</script>
{% endblock %}

{% block content %}
{% call cm.heading(['Tasks']) %}
	<div class="pl-2">
		<a class="btn btn-outline-primary" href="{{ url_for('scheduler.task_add_route') }}">Add</a>
	</div>
{% endcall %}

<table id="task_list_table" class="table table-hover table-sm" width="100%"></table>
{% endblock %}
