{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Exclusion add/edit{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Scheduler', 'Exclusions', 'Add or edit']) }}

<form method="post">
	{{ form.csrf_token }}
	{{ b_wtf.bootstrap_field(form.family, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.value, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.comment, horizontal=True) }}
	{{ b_wtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
