{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Exclusions list{% endblock %}

{% block script %}
<script type="text/javascript">
	var dt_excl_list_table_options = {
		'ajax': {'url': "{{ url_for('scheduler.excl_list_json_route') }}", 'method': 'POST'},
		'columns': [
			dt_column('id', {'visible': false}),
			dt_column('family'),
			dt_column('value'),
			dt_column('comment'),
			dt_column_buttons(scheduler_pagepart_excl_controls)
		]
	};
	$(document).ready(function() {
		var dt_excl_list_table = $('#excl_list_table').DataTable($.extend({}, dt_ajax_options, dt_excl_list_table_options));
	});
</script>
{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Scheduler', 'Exclusions', 'List']) }}

<div class="text-right">
	<a class="btn btn-outline-primary" href="{{ url_for('scheduler.excl_add_route') }}">Add</a>
	<a class="btn btn-outline-primary" href="{{ url_for('scheduler.excl_import_route') }}">Import</a>
	<a class="btn btn-outline-primary" href="{{ url_for('scheduler.excl_export_route') }}">Export</a>
</div>

<table id="excl_list_table" class="table table-hover table-sm"></table>
{% endblock %}
