{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<title>{% block title %}{% endblock %} - sner4</title>


	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr/toastr.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/css/dataTables.bootstrap4.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/css/select.bootstrap4.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/dataTables.select.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/plugin.ellipsis.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tageditor/jquery.tag-editor.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='tageditor/jquery.caret.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='tageditor/jquery.tag-editor.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='handlebars/handlebars.min.js') }}"></script>

	<style>
		/* content vs navbar spacing */
		body { padding-top: 4rem; }

		/* required items on forms */
		div.form-group.required label.control-label:after { content:"*"; color:red; }

		/* tag-editor same borders as other bootstraped input */
		.tag-editor { border: 1px solid #ccc; border-radius: 4px; }

		/* note data may contain very long unwrapable data */
		.forcewrap { word-wrap: break-word; word-break: break-all; white-space: normal; }

		/* dt styling */
		.dataTables_wrapper, .dt_toolbar { margin-top: 5px; margin-bottom: 5px; }
		td.dt-nowrap { white-space: nowrap; }

		/* other */
		.text-alert { color: red; }
		.text-warning { color: orange; }
		.text-default { color: black; }
		.label-light {
			color: unset;
			background-color: #ccc;
		}
	</style>


	{{ JSGlue.include() }}

	<script type="text/javascript">
		// ui helpers and callbacks
		//
		/**
		 * encode ArrayBuffer to base64
		 *
		 * @param  {ArrayBuffer} buffer buffer to encode
		 * @return {string}             encoded buffer
		 */
		function array_buffer_to_base64(buffer) {
			return btoa(new Uint8Array(buffer).reduce((data, byte) => data + String.fromCharCode(byte), ''));
		}

		/**
		 * decode base64 data to ArrayBuffer
		 *
		 * @param  {string}      data data to decode
		 * @return {ArrayBuffer}      decoded data
		 */
		function base64_to_array_buffer(data) {
			return Uint8Array.from(atob(data), c => c.charCodeAt(0)).buffer;
		}

		/*
		 * will rerender element with hbs acording to data attributes
		 *  - data-hbs (hbs compiled template)
		 *  - data-hbs_context (json context for the template)
		 * @param {DOMElement} elem - element to rerender
		 */
		function render_hbs(elem) {
			var hbs = elem.getAttribute('data-hbs');
			var context = JSON.parse(elem.getAttribute('data-hbs_context'));
			elem.innerHTML = window[hbs](context);
		}

		/*
		 * sner submit form
		 */
		function sner_submit_form(url, data={}) {
			data['csrf_token'] = $('meta[name="csrf-token"]').attr('content');
			return $.ajax({"url": url,"type": "POST", "data": data})
				.fail(function(xhr, status, exception) { toastr.error(xhr.hasOwnProperty('responseJSON') ? xhr.responseJSON["title"] : 'Request failed'); });
		}

		/*
		 * show global/shared modal with title and body
		 */
		function sner_modal(title, body) {
			$('#modal-global .modal-title').html(title);
			$('#modal-global .modal-body').html(body);
			$('#modal-global').modal();
		}

		/*
		 * action select all from table
		 */
		function action_selectall(event) { event.data.dt.rows(null, {'page': 'current'}).select(); }

		/*
		 * action select none from dt
		 */
		function action_selectnone(event) { event.data.dt.rows(null, {'page': 'current'}).deselect(); }

		/*
		 * action tag multiple items
		 * @param {object} event - event with data {'dt': datatable instance, 'tag': string}
		 */
		function action_tag_by_id(event) {
			var data = {
				'tag': event.target.getAttribute('data-tag'),
				'action': event.data.action
			};
			var ids = dt_get_selected_ids(event.data.dt);
			if (ids.length == 0) {
				toastr.warning('No items selected');
				return Promise.resolve();
			}
			for (var i = 0; i < ids.length; i++) { data['ids-'+i] = ids[i]; }

			sner_submit_form(event.data.url, data)
				.always(function() { event.data.dt.draw(); });
		}

		/**
		 * action delete multiple items
		 * @param {object} event - event with data {'dt': datatable instance}
		 */
		function action_delete_by_id(event) {
			if (!confirm('Really delete?')) { return; }

			var data = {};
			var ids = dt_get_selected_ids(event.data.dt);
			if (ids.length == 0) {
				toastr.warning('No items selected');
				return Promise.resolve();
			}
			for (var i = 0; i < ids.length; i++) { data['ids-'+i] = ids[i]; }

			sner_submit_form(event.data.url, data)
				.always(function() { event.data.dt.draw(); });
		}

		/**
		 * action submit by url with confirmation dialog
		 * @param {object} event - event with data {'dt': datatable instance, 'confirmation': string}
		 */
		function action_submit_by_url(event) {
			var confirmation = event.data.hasOwnProperty('confirmation') ? event.data.confirmation : 'Are you sure?';
			if (!confirm(confirmation)) { return; }

			sner_submit_form(event.target.closest('a').getAttribute('data-url'))
				.always(function() { event.data.dt.draw(); });
		}


		// ajaxed datatables helpers
		//
		/**
		 * datatables select helper, returns array of selected rows/data ids
		 * @param {object} dt - datatable instance
		 */
		function dt_get_selected_ids(dt) {
			// would use .map return item[x], but it does not cleanup other row attrs
			var ids = [];
			dt.rows({'selected': true}).data().each(function(item) { ids.push(item['id']) });
			return ids;
		};

		/**
		 * datatables helper, toggles pagination if needed
		 * @param {object} dt - datatable instance
		 */
		function dt_toggle_pagination(dt) {
			var pagination = $('#'+dt.table().node().id+'_wrapper .dataTables_paginate');
			if (dt.page.info().pages <= 1) { pagination.hide(); } else { pagination.show();	}
		}

		/**
		 * datatables helper, generate object of basic column options and non-html rendering
		 * @param {string} d - column name
		 * @param {object} extra - extra data to inject into column definition
		 */
		function dt_column(d, extra={}) {
			return $.extend({'name': d, 'title': d, 'data': d, 'render': $.fn.dataTable.render.text()}, extra);
		}

		/**
		 * datatables helper, generate _select column definition
		 */
		function dt_column_select() { return {'name': '_select', 'title': '', 'data': null, 'defaultContent': '', 'orderable': false, 'className': 'select-checkbox'}; }

		/**
		 * datatables helper, generate _select column definition
		 * @param {callback} render - function to render cell, typically compiled hbs template
		 */
		function dt_column_buttons(render_callback=null, extra={}) {
			return $.extend({'name': '_buttons', 'title': '_buttons', 'data': '_buttons', 'orderable': false, 'className': 'dt-nowrap', 'render': function (data, type, row, meta) { return render_callback(row); }}, extra);
		}

		/**
		 * datatables helper, default ajax enhanced dt options
		 */
		var dt_ajax_options = {
			// general settings
			'serverSide': true,
			'processing': true,

			// visuals
			'dom': '<"row"<"col-sm-6"l><"col-sm-6"f>> <"row"<"col-sm-12"p>> <"row"<"col-sm-12"rt>> <"row"<"col-sm-6"i><"col-sm-6"p>>',
			'info': true,
			'paging': true,
			'pageLength': 50,
			'lengthMenu': [ 10, 50, 100, 200, 500, 1000 ],

			// behaviors
			'drawCallback': function (settings) {
				dt_toggle_pagination(this.api());
				this.find('td a.abutton_delete_by_url').on('click', {'dt': this.api(), 'confirmation': 'Really delete?'}, action_submit_by_url);
			},
			'stateSave': true,
			// paging might get broken when transiting from high page of non-filtered table to filtered one with few row, state key must reflect the filter
			'stateSaveCallback': function(settings,data) { sessionStorage.setItem('DataTables_'+settings.sInstance+'_'+window.location.pathname+'_'+window.location.search, JSON.stringify(data)); },
			'stateLoadCallback': function(settings) { return JSON.parse(sessionStorage.getItem('DataTables_'+settings.sInstance+'_'+window.location.pathname+'_'+window.location.search)); }
		};


		// simple static static datatables
		//
		var dt_static_options = {
			'columnDefs': [ {
				'targets': 'no-sort',
				'orderable': false,
			} ],
			'order': [[0, 'asc']],
			'paging': false,
			'info': false
		};


		// common startups
		//
		$(document).ready(function() {
			if (typeof dt_static_custom !== 'undefined') {
				dt_static_options = $.extend({}, dt_static_options, dt_static_custom);
			}
			$('.dt_static').DataTable(dt_static_options);

			$('.tageditor').tagEditor({'delimiter': '\n'});
			$('.render_hbs').each(function(index, elem) { render_hbs(elem); });
		});
	</script>


	{% include 'auth/pageparts.html' %}
	{% include 'scheduler/pageparts.html' %}
	{% include 'storage/pageparts.html' %}

	{% block style %}{% endblock %}
	{% block script %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="{{ url_for('index_route') }}">sner4</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			{% if current_user.is_authenticated %}
				{% if current_user.has_role('operator') %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownScheduler" data-toggle="dropdown">Scheduler</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('scheduler.excl_list_route') }}">Exclusions</a>
						<a class="dropdown-item" href="{{ url_for('scheduler.task_list_route') }}">Tasks</a>
						<a class="dropdown-item" href="{{ url_for('scheduler.queue_list_route') }}">Queues</a>
						<a class="dropdown-item" href="{{ url_for('scheduler.job_list_route') }}">Jobs</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownStorage" data-toggle="dropdown">Storage</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('storage.host_list_route') }}">Hosts</a>
						<a class="dropdown-item" href="{{ url_for('storage.service_list_route') }}">Services</a>
						<a class="dropdown-item" href="{{ url_for('storage.service_grouped_route', crop=3) }}">Services grouped</a>
						<a class="dropdown-item" href="{{ url_for('storage.vuln_list_route') }}">Vulnerabilities</a>
						<a class="dropdown-item" href="{{ url_for('storage.vuln_grouped_route') }}">Vulnerabilities grouped</a>
						<a class="dropdown-item" href="{{ url_for('storage.note_list_route') }}">Notes</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownVisualizations" data-toggle="dropdown">Visualizations</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('storage.host_vizdns_route', crop=1) }}">DNS Names</a>
						<a class="dropdown-item" href="{{ url_for('storage.service_vizports_route') }}">Ports</a>
						<a class="dropdown-item" href="{{ url_for('storage.service_vizinfos_route', view='normal', crop=3, limit=50) }}">Service infos</a>
					</div>
				</li>
				{% endif %}
			{% endif %}
			</ul>

			<ul class="navbar-nav">
			{% if config['DEBUG'] %}
				<li><span class="nav-link text-warning">debug enabled</span></li>
			{% endif %}
			{% if not current_user.is_authenticated %}
				<li><a href="{{ url_for('auth.login_route') }}">Login</a></li>
			{% else %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownUser" data-toggle="dropdown">{{ current_user.username }}</a>
					<div class="dropdown-menu dropdown-menu-right">
					{% if current_user.has_role('admin') %}
						<a class="dropdown-item" href="{{ url_for('auth.user_list_route') }}">Manage users</a>
					{% endif %}
						<a class="dropdown-item" href="{{ url_for('auth.profile_route') }}">Profile</a>
						<a class="dropdown-item" href="{{ url_for('auth.logout_route') }}">Logout</a>
					</div>
				</li>
			{% endif %}
			</ul>
		</div>
	</nav>

	<main role="main" class="container-fluid">
		{% block content %}
		{% endblock %}
	</main><!-- /.container -->

	<script type="text/javascript">
		toastr.options = {
			"positionClass": "toast-top-right",
		};
		{% for category, message in get_flashed_messages(with_categories=true) %}
		toastr['{{ category }}']('{{ message }}');
		{% endfor %}
	</script>

	<div id="modal-global" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</body>
</html>
