{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% import "bootstrap_wtf.html" as bwtf %}
{% import "common_macros.html" as cm %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<title>{% block title %}{% endblock %} - sner4</title>


	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>

	<!-- default theme tuned at https://bootstrap.build -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/themed-bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr/toastr.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='toastr/toastr.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/css/dataTables.bootstrap4.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/css/select.bootstrap4.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/dataTables.bootstrap4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/dataTables.select.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables/js/plugin.ellipsis.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tageditor/component-tageditor.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='tageditor/jquery.caret.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='tageditor/jquery.tag-editor.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='handlebars/handlebars.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight/default.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>

	{{ JSGlue.include() }}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sner/sner.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='sner/sner.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='sner/sner.auth.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='sner/sner.scheduler.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='sner/sner.storage.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='sner/sner.visuals.js') }}"></script>
	<script type="text/javascript">
		/* NOTE: might be const here, but it does not work inside selenium */
		var Sner = new SnerModule();
	</script>

	{% block style %}{% endblock %}
	{% block script %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-0">
		<a class="navbar-brand" href="{{ url_for('index_route') }}"><img src="{{ url_for('static', filename='logo.png') }}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			{% if current_user.is_authenticated %}
				{% if current_user.has_role('operator') %}
					{%- set active_subsystem = request.endpoint.split('.')[0] -%}
					{%- for subsystem, route, icon in [
						('scheduler', 'scheduler.queue_list_route', 'fa-tasks'),
						('storage', 'storage.host_list_route', 'fa-database'),
						('visuals', 'visuals.index_route', 'fa-image')] -%}
						<li class="nav-item"><a class="nav-link{% if subsystem == active_subsystem %} active{% endif %}" href="{{ url_for(route) }}" title="{{ subsystem|capitalize }}"><i class="fas {{ icon }}"></i></a></li>
					{%- endfor -%}
					{%- if active_subsystem == 'scheduler' -%}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('scheduler.excl_list_route') }}">Exclusions</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('scheduler.queue_list_route') }}">Queues</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('scheduler.job_list_route') }}">Jobs</a></li>
					{%- elif active_subsystem == 'storage' -%}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.host_list_route') }}">Hosts</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.service_list_route') }}">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.service_grouped_route', crop=3) }}">Services grouped</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.vuln_list_route') }}">Vulnerabilities</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.vuln_grouped_route') }}">Vulnerabilities grouped</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('storage.note_list_route') }}">Notes</a></li>
					{%- elif active_subsystem == 'visuals' -%}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('visuals.workflowtree_route') }}">Workflow tree</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('visuals.dnstree_route', crop=1) }}">DNS tree</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('visuals.portmap_route') }}">Portmap</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('visuals.portinfos_route') }}">Port infos</a></li>
					{%- endif -%}
				{% endif %}
			{% endif %}
			</ul>

			<ul class="navbar-nav">
			{% if config['DEBUG'] %}
				<li><span class="nav-link text-warning">debug enabled</span></li>
			{% endif %}
			{% if not current_user.is_authenticated %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login_route') }}">Login</a></li>
			{% else %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownUser" data-toggle="dropdown">{{ current_user.username }}</a>
					<div class="dropdown-menu dropdown-menu-right">
					{% if current_user.has_role('admin') %}
						<a class="dropdown-item" href="{{ url_for('auth.user_list_route') }}">Manage users</a>
					{% endif %}
						<a class="dropdown-item" href="{{ url_for('auth.profile_route') }}">Profile</a>
						<a class="dropdown-item" href="{{ url_for('auth.logout_route') }}">Logout</a>
					</div>
				</li>
			{% endif %}
			</ul>
		</div>
	</nav>

	<main role="main" class="container-fluid">
		{% block content %}
		{% endblock %}
	</main><!-- /.container -->

	<script type="text/javascript">
		toastr.options = {
			'positionClass': 'toast-top-right',
			'progressBar': true,
		};
		{% for category, message in get_flashed_messages(with_categories=true) %}
		toastr['{{ category }}']('{{ message }}');
		{% endfor %}
	</script>

	<div id="modal-global" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</body>
</html>
