{%- macro heading(path) -%}
<div class="d-flex align-items-center mb-2">
	<ol class="breadcrumb flex-grow-1 py-2 mb-0">
		{%- for item in path[:-1] -%}
		<li class="breadcrumb-item">{{ item }}</li>
		{%- endfor -%}
		<li class="breadcrumb-item font-weight-bold">{{ path[-1] }}</li>
	</ol>
	{{ caller() }}
</div>
{%- endmacro -%}

{%- macro addtag_buttons(aa) -%}
<div class="form-group row">
	<div class="col-sm-10 offset-sm-2">
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">Info</a>
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">Report</a>
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">Todo</a>
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">Reviewed</a>
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">Sslhell</a>
	</div>
</div>
<script type="text/javascript">
	$('.abutton_addtag').on('click', function(event) {
		$('textarea[name="tags"]').tagEditor('addTag', event.target.text, true);
	});
</script>
{%- endmacro -%}
