{%- macro heading(path) -%}
<div class="d-flex align-items-center mb-2">
	<ol class="breadcrumb flex-grow-1 py-2 mb-0">
		{%- for item in path[:-1] -%}
		<li class="breadcrumb-item">{{ item }}</li>
		{%- endfor -%}
		<li class="breadcrumb-item font-weight-bold">{{ path[-1] }}</li>
	</ol>
	{{ caller() }}
</div>
{%- endmacro -%}

{%- macro addtag_buttons() -%}
<div class="form-group row">
	<div class="col-sm-10 offset-sm-2">
	{% for tag in config['SNER_TAGS'] %}
		<a class="btn btn-outline-secondary btn-sm abutton_addtag">{{ tag|capitalize }}</a>
	{% endfor %}
	</div>
</div>
<script type="text/javascript">
	$('.abutton_addtag').on('click', function(event) {
		$('textarea[name="tags"]').tagEditor('addTag', event.target.text, true);
	});
</script>
{%- endmacro -%}

{%- macro filter() -%}
{% set showFilter = 'filter' in request.args %}
<form class="form storage_filter collapse {% if showFilter %}show{% endif %}" id="collapseFilter">
	<div class="input-group flex-fill">
		<div class="input-group-prepend">
			<a class="btn btn-outline-secondary disabled"><i class="fas fa-filter"></i></a>
			{% if showFilter %}<a class="btn btn-info" href="{{ url_for(request.endpoint) }}">Unfilter</a>{% endif %}
		</div>
		<input class="form-control" type="text" name="filter" value="{{ request.values.filter }}" placeholder="Filter">
		<div class="input-group-append">
			<button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>
{%- endmacro -%}
