{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% extends "base.html" %}

{% block title %}Queue add/edit{% endblock %}

{% block content %}
{{ cm.breadcrumbs(['Scheduler', 'Queues', 'Add or edit']) }}

<form method="post">
	{{ form.csrf_token }}
	{{ bwtf.bootstrap_field(form.name, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.task, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.group_size, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.priority, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.active, horizontal=True) }}
	{{ bwtf.bootstrap_field(form.submit, horizontal=True) }}
</form>
{% endblock %}
