{% raw %}
<script id="storage.pagepart-host_link.hbs" type="text/x-handlebars-template">
	<a href="{{> storage.host_view_route host_id=host_id}}">{{host_address}}</a>
</script>
<script id="storage.pagepart-host_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> storage.service_add_route host_id=id}}"><span class="glyphicon glyphicon-plus"></span> Service</a>
	<a class="btn btn-xs btn-default" href="{{> storage.vuln_add_route model_name='host' model_id=id}}"><span class="glyphicon glyphicon-plus"></span> Vuln</a>
	<a class="btn btn-xs btn-default" href="{{> storage.note_add_route model_name='host' model_id=id}}"><span class="glyphicon glyphicon-plus"></span> Note</a>
	<a class="btn btn-xs btn-default" href="{{> storage.host_edit_route host_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> storage.host_delete_route host_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>

<script id="storage.pagepart-service_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> storage.vuln_add_route model_name='service' model_id=id}}"><span class="glyphicon glyphicon-plus"></span> Vuln</a>
	<a class="btn btn-xs btn-default" href="{{> storage.note_add_route model_name='service' model_id=id}}"><span class="glyphicon glyphicon-plus"></span> Note</a>
	<a class="btn btn-xs btn-default" href="{{> storage.service_edit_route service_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> storage.service_delete_route service_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>

<script id="storage.pagepart-vuln_link.hbs" type="text/x-handlebars-template">
	<a href="{{> storage.vuln_view_route vuln_id=id}}">{{name}}</a>
</script>
<script id="storage.pagepart-severity_label.hbs" type="text/x-handlebars-template">
	<span class="label {{color_for_severity severity}}">{{severity}}</span>
</script>
<script id="storage.pagepart-vuln_refs.hbs" type="text/x-handlebars-template">
{{#each refs}}
	<a href="{{url_for_ref this}}">{{text_for_ref this}}</a>
{{/each}}
</script>
<script id="storage.pagepart-vuln_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> storage.vuln_edit_route vuln_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> storage.vuln_delete_route vuln_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>

<script id="storage.pagepart-note_controls.hbs" type="text/x-handlebars-template">
	<a class="btn btn-xs btn-default" href="{{> storage.note_view_route note_id=id}}"><span class="glyphicon glyphicon-eye-open"></span></a>
	<a class="btn btn-xs btn-default" href="{{> storage.note_edit_route note_id=id}}"><span class="glyphicon glyphicon-edit"></span></a>
	<a class="btn btn-xs btn-default abutton_delete_by_url" data-url="{{> storage.note_delete_route note_id=id}}"><span class="glyphicon glyphicon-trash text-alert"></span></a>
</script>
{% endraw %}
<script type="text/javascript">

	/// handlebars pageparts and helpers
	///

	/*
	 * generate url for ref
	 */
	Handlebars.registerHelper('url_for_ref', function(ref) {
		var ret = ref;

		var matched = ref.match(/(.*?)\-(.*)/);
		if (matched) {
			var [ident, data] = [matched[1], matched[2]];
			switch (ident) {
				case 'URL': ret = data; break;
				case 'CVE': ret = 'https://cvedetails.com/cve/CVE-'+data; break;
				case 'NSS': ret = 'https://www.tenable.com/plugins/nessus/'+data; break;
				case 'BID': ret = 'http://www.securityfocus.com/bid/'+data; break;
				case 'CERT': ret = 'https://www.kb.cert.org/vuls/id/'+data; break;
				case 'EDB': ret = 'https://www.exploit-db.com/exploits/'+data.replace('ID-', ''); break;
				case 'SN': ret = "{{ url_for('storage.note_view_route', note_id='REPLACE') }}".replace('REPLACE', data); break;
				default: ret = '#'; break;
			}
		}

		return ret;
	});

	/*
	 * generate text for ref
	 */
	Handlebars.registerHelper('text_for_ref', function(ref) { return (ref.startsWith('URL-')) ? 'URL' : ref; });

	/*
	 * get class for severity label
	 */
	Handlebars.registerHelper('color_for_severity', function(severity) {
		var colors = {'unknown': 'label-default', 'info': 'label-primary', 'low': 'label-success', 'medium': 'label-info', 'high': 'label-warning', 'critical': 'label-danger'};
		return (severity in colors) ? colors[severity] : 'label-default';
	});

	/*
	 * hbs partials to pass flask endpoint uris to hbs templates
	 */
	Handlebars.registerPartial('storage.host_view_route', "{{ url_for('storage.host_view_route', host_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{host_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.host_edit_route', "{{ url_for('storage.host_edit_route', host_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{host_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.host_delete_route', "{{ url_for('storage.host_delete_route', host_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{host_id}}{%endraw%}'));

	Handlebars.registerPartial('storage.service_add_route', "{{ url_for('storage.service_add_route', host_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{host_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.service_edit_route', "{{ url_for('storage.service_edit_route', service_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{service_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.service_delete_route', "{{ url_for('storage.service_delete_route', service_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{service_id}}{%endraw%}'));

	Handlebars.registerPartial('storage.vuln_add_route',
		"{{ url_for('storage.vuln_add_route', model_name='REPLACE1', model_id='REPLACE2') }}"
			.replace('REPLACE1', '{%raw%}{{model_name}}{%endraw%}')
			.replace('REPLACE2', '{%raw%}{{model_id}}{%endraw%}')
	);
	Handlebars.registerPartial('storage.vuln_view_route', "{{ url_for('storage.vuln_view_route', vuln_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{vuln_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.vuln_edit_route', "{{ url_for('storage.vuln_edit_route', vuln_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{vuln_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.vuln_delete_route', "{{ url_for('storage.vuln_delete_route', vuln_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{vuln_id}}{%endraw%}'));

	Handlebars.registerPartial('storage.note_add_route',
		"{{ url_for('storage.note_add_route', model_name='REPLACE1', model_id='REPLACE2') }}"
			.replace('REPLACE1', '{%raw%}{{model_name}}{%endraw%}')
			.replace('REPLACE2', '{%raw%}{{model_id}}{%endraw%}')
	);
	Handlebars.registerPartial('storage.note_view_route', "{{ url_for('storage.note_view_route', note_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{note_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.note_edit_route', "{{ url_for('storage.note_edit_route', note_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{note_id}}{%endraw%}'));
	Handlebars.registerPartial('storage.note_delete_route', "{{ url_for('storage.note_delete_route', note_id='REPLACE') }}".replace('REPLACE', '{%raw%}{{note_id}}{%endraw%}'));

	/*
	 * hbs templates
	 */
	var storage_pagepart_host_link = Handlebars.compile(document.getElementById('storage.pagepart-host_link.hbs').innerHTML);
	var storage_pagepart_host_controls = Handlebars.compile(document.getElementById('storage.pagepart-host_controls.hbs').innerHTML);

	var storage_pagepart_service_controls = Handlebars.compile(document.getElementById('storage.pagepart-service_controls.hbs').innerHTML);

	var storage_pagepart_vuln_link = Handlebars.compile(document.getElementById('storage.pagepart-vuln_link.hbs').innerHTML);
	var storage_pagepart_severity_label = Handlebars.compile(document.getElementById('storage.pagepart-severity_label.hbs').innerHTML);
	var storage_pagepart_vuln_refs = Handlebars.compile(document.getElementById('storage.pagepart-vuln_refs.hbs').innerHTML);
	var storage_pagepart_vuln_controls = Handlebars.compile(document.getElementById('storage.pagepart-vuln_controls.hbs').innerHTML);

	var storage_pagepart_note_controls = Handlebars.compile(document.getElementById('storage.pagepart-note_controls.hbs').innerHTML);
</script>
