{#- This file is part of sner4 project governed by MIT license, see the LICENSE.txt file. -#}
{% raw %}
<script id="storage.pagepart-host_link.hbs" type="text/x-handlebars-template">
	<a href="{{> storage.host_view_route host_id=host_id}}">{{host_address}}</a>
</script>

<script id="storage.pagepart-host_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-plus"></i></a>
		<a class="btn btn-outline-secondary" href="{{> storage.service_add_route host_id=id}}">Service</a>
		<a class="btn btn-outline-secondary" href="{{> storage.vuln_add_route model_name='host' model_id=id}}">Vuln</a>
		<a class="btn btn-outline-secondary" href="{{> storage.note_add_route model_name='host' model_id=id}}">Note</a>
	</div>
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> storage.host_edit_route host_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> storage.host_delete_route host_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>

<script id="storage.pagepart-service_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary disabled"><i class="fas fa-plus"></i></a>
		<a class="btn btn-outline-secondary" href="{{> storage.vuln_add_route model_name='service' model_id=id}}">Vuln</a>
		<a class="btn btn-outline-secondary" href="{{> storage.note_add_route model_name='service' model_id=id}}">Note</a>
	</div>
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> storage.service_edit_route service_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> storage.service_delete_route service_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>

<script id="storage.pagepart-service_list_filter_info_link.hbs" type="text/x-handlebars-template">
	{{# if info}}
		<a href='{{> storage.service_list_route_filter_info filter_value=info_encoded}}'>{{info}}</a>
	{{ else }}
		<em>null</em> <a href='{{> storage.service_list_route_filter_info_null}}'><span class="fas fa-list"></span></a>
	{{/if}}
</script>

<script id="storage.pagepart-vuln_link.hbs" type="text/x-handlebars-template">
	<a href="{{> storage.vuln_view_route vuln_id=id}}">{{name}}</a>
</script>

<script id="storage.pagepart-severity_label.hbs" type="text/x-handlebars-template">
	<span class="badge {{color_for_severity severity}}">{{severity}}</span>
</script>

<script id="storage.pagepart-vuln_refs.hbs" type="text/x-handlebars-template">
{{#each refs}}
	<a rel="noreferrer" href="{{url_for_ref this}}">{{text_for_ref this}}</a>
{{/each}}
</script>
<script id="storage.pagepart-vuln_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> storage.vuln_edit_route vuln_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> storage.vuln_delete_route vuln_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>

<script id="storage.pagepart-vuln_list_filter_name_link.hbs" type="text/x-handlebars-template">
	<a href='{{> storage.vuln_list_route_filter_name filter_value=name_encoded}}'>{{name}}</a>
</script>

<script id="storage.pagepart-note_controls.hbs" type="text/x-handlebars-template">
	<div class="btn-group btn-group-sm">
		<a class="btn btn-outline-secondary" href="{{> storage.note_view_route note_id=id}}"><i class="fas fa-eye"></i></a>
		<a class="btn btn-outline-secondary" href="{{> storage.note_edit_route note_id=id}}"><i class="fas fa-edit"></i></a>
		<a class="btn btn-outline-secondary abutton_delete_by_url" data-url="{{> storage.note_delete_route note_id=id}}"><i class="fas fa-trash text-danger"></i></a>
	</div>
</script>
{% endraw %}
<script type="text/javascript">
	/*
	 * generate url for ref; python version used during export must remain in sync
	 */
	Handlebars.registerHelper('url_for_ref', function(ref) {
		var refgen = {
			'URL': (d) => d,
			'CVE': (d) => 'https://cvedetails.com/cve/CVE-' + d,
			'NSS': (d) => 'https://www.tenable.com/plugins/nessus/' + d,
			'BID': (d) => 'http://www.securityfocus.com/bid/' + d,
			'CERT': (d) => 'https://www.kb.cert.org/vuls/id/' + d,
			'EDB': (d) => 'https://www.exploit-db.com/exploits/' + d.replace('ID-', ''),
			'SN': (d) => "{{ url_for('storage.note_view_route', note_id='REPLACE') }}".replace('REPLACE', d)
		}
		try {
			var matched = ref.match(/(.*?)\-(.*)/);
			return refgen[matched[1]](matched[2])
		} catch (err) {
			//pass
		}
		return '#';
	});

	/*
	 * generate text for ref
	 */
	Handlebars.registerHelper('text_for_ref', function(ref) { return (ref.startsWith('URL-')) ? 'URL' : ref; });

	/*
	 * get class for severity label
	 */
	Handlebars.registerHelper('color_for_severity', function(severity) {
		var colors = {'unknown': 'badge-secondary', 'info': 'badge-light', 'low': 'badge-info', 'medium': 'badge-primary', 'high': 'badge-warning', 'critical': 'badge-danger'};
		return (severity in colors) ? colors[severity] : 'badge-secondary';
	});

	/* hbs partials to pass flask endpoint uris to hbs templates */
	Handlebars.registerPartial('storage.host_view_route', Flask.url_for('storage.host_view_route', {'host_id': '{%raw%}{{host_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.host_edit_route', Flask.url_for('storage.host_edit_route', {'host_id': '{%raw%}{{host_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.host_delete_route', Flask.url_for('storage.host_delete_route', {'host_id': '{%raw%}{{host_id}}{%endraw%}'}));

	Handlebars.registerPartial('storage.service_add_route', Flask.url_for('storage.service_add_route', {'host_id': '{%raw%}{{host_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.service_list_route_filter_info', Flask.url_for('storage.service_list_route', {'filter': '{%raw%}Service.info ilike "{{filter_value}}%"{%endraw%}'}));
	Handlebars.registerPartial('storage.service_list_route_filter_info_null', Flask.url_for('storage.service_list_route', {'filter': 'Service.info is_null ""'}));
	Handlebars.registerPartial('storage.service_edit_route', Flask.url_for('storage.service_edit_route', {'service_id': '{%raw%}{{service_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.service_delete_route', Flask.url_for('storage.service_delete_route', {'service_id': '{%raw%}{{service_id}}{%endraw%}'}));

	Handlebars.registerPartial('storage.vuln_add_route', Flask.url_for('storage.vuln_add_route', {'model_name': '{%raw%}{{model_name}}{%endraw%}', 'model_id': '{%raw%}{{model_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.vuln_list_route_filter_name', Flask.url_for('storage.vuln_list_route', {'filter': '{%raw%}Vuln.name=="{{filter_value}}"{%endraw%}'}));
	Handlebars.registerPartial('storage.vuln_view_route', Flask.url_for('storage.vuln_view_route', {'vuln_id': '{%raw%}{{vuln_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.vuln_edit_route', Flask.url_for('storage.vuln_edit_route', {'vuln_id': '{%raw%}{{vuln_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.vuln_delete_route', Flask.url_for('storage.vuln_delete_route', {'vuln_id': '{%raw%}{{vuln_id}}{%endraw%}'}));

	Handlebars.registerPartial('storage.note_add_route', Flask.url_for('storage.note_add_route', {'model_name': '{%raw%}{{model_name}}{%endraw%}', 'model_id': '{%raw%}{{model_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.note_view_route', Flask.url_for('storage.note_view_route', {'note_id': '{%raw%}{{note_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.note_edit_route', Flask.url_for('storage.note_edit_route', {'note_id': '{%raw%}{{note_id}}{%endraw%}'}));
	Handlebars.registerPartial('storage.note_delete_route', Flask.url_for('storage.note_delete_route', {'note_id': '{%raw%}{{note_id}}{%endraw%}'}));

	/* hbs templates */
	var storage_pagepart_host_link = Handlebars.compile(document.getElementById('storage.pagepart-host_link.hbs').innerHTML);
	var storage_pagepart_host_controls = Handlebars.compile(document.getElementById('storage.pagepart-host_controls.hbs').innerHTML);

	var storage_pagepart_service_controls = Handlebars.compile(document.getElementById('storage.pagepart-service_controls.hbs').innerHTML);
	var storage_pagepart_service_list_filter_info_link = Handlebars.compile(document.getElementById('storage.pagepart-service_list_filter_info_link.hbs').innerHTML);

	var storage_pagepart_vuln_link = Handlebars.compile(document.getElementById('storage.pagepart-vuln_link.hbs').innerHTML);
	var storage_pagepart_severity_label = Handlebars.compile(document.getElementById('storage.pagepart-severity_label.hbs').innerHTML);
	var storage_pagepart_vuln_refs = Handlebars.compile(document.getElementById('storage.pagepart-vuln_refs.hbs').innerHTML);
	var storage_pagepart_vuln_controls = Handlebars.compile(document.getElementById('storage.pagepart-vuln_controls.hbs').innerHTML);
	var storage_pagepart_vuln_list_filter_name_link = Handlebars.compile(document.getElementById('storage.pagepart-vuln_list_filter_name_link.hbs').innerHTML);

	var storage_pagepart_note_controls = Handlebars.compile(document.getElementById('storage.pagepart-note_controls.hbs').innerHTML);
</script>
